project/*
projectFilesBackup1/*
*~
target/*
.idea/*
*.xml

*.xml

.idea/libraries/SBT__org_scala_lang_scala_reflect_2_10_0.xml

.DS_Store

.DS_Store

.idea/libraries/SBT__org_scala_lang_scala_reflect_2_10_0.xml

*.xml

*.xml
